<script src="~/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/bootstrap/js/popper.js"></script>
<script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="~/Template/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/slick/slick.min.js"></script>
<script src="~/Template/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="~/Template/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="~/Template/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="~/Template/vendor/sweetalert/sweetalert.min.js"></script>
<script>
    $('.js-addwish-b2').on('click', function (e) {
        e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-b2');
            $(this).off('click');
        });
    });

    $('.js-addwish-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-detail');
            $(this).off('click');
        });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });
</script>
<!--===============================================================================================-->
<script src="~/Template/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="~/Template/js/main.js"></script>
<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    $(document).ready(function () {
        // Sayfa yüklendiğinde bir kere çalıştırılacak kısım
        // ...

        // $("#filterButton").click(function () {

        // 	ApiIstek();
        // });
    });

    function ApiIstek(genderid, categoryid, colorid, sizeid, productid) {
        var params = {};


        if (genderid !== '') {
            params.gender = genderid;
        }

        if (categoryid !== '') {
            params.categoryId = categoryid;
        }

        if (colorid !== '') {
            params.colorid = colorid;
        }
        if (sizeid !== '') {
            params.sizeid = sizeid;
        }
        if (productid !== '') {
            params.productid = productid;
        }

        $.ajax({
            url: 'http://localhost:53239/api/Default/Filter',
            method: 'GET',
            data: params,
            success: function (data) {
                $("#productList").html(""); // Ürün listesini temizle

                // Her bir ürünü döngü ile gez
                $.each(data, function (index, item) {
                    // getProducts(item.productId);
                    // Her bir ürünün verisini kullanarak ürün bloğunu oluştur
                    var productBlock = '<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item gender">' +
                        '<div class="block2">' +
                        '<div class="block2-pic hov-img0 label-new" data-label="New">' +
                        '<img src="Template/images/product-01.jpg" alt="IMG-PRODUCT">' +
                        '<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" data-productid="' + item.productId + '" onclick="getProducts(' + item.productId + ')">Hızlı Bakış</button>' +
                        '</div>' +
                        '<div class="block2-txt flex-w flex-t p-t-14">' +
                        '<div class="block2-txt-child1 flex-col-l ">' +
                        '<p id="description2" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">' + item.description + '</p>' +
                        '<span class="stext-105 cl3" id="price">' + item.price + '</span>' +
                        '</div>' +
                        '<div class="block2-txt-child2 flex-r p-t-3">' +
                        '<p class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">' +
                        '<img class="icon-heart1 dis-block trans-04" src="Template/images/icons/icon-heart-01.png" alt="ICON">' +
                        '<img class="icon-heart2 dis-block trans-04 ab-t-l" src="Template/images/icons/icon-heart-02.png" alt="ICON">' +
                        '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    // Ürün bloğunu listeye ekle
                    $("#productList").append(productBlock);

                });

                // Başarılı olduğunda yönlendirme yap
                //alert('AJAX isteği başarıyla tamamlandı!');
            },
            error: function (error) {
                console.error('Hata:', error);
            }
        });
    }



</script>
<script>

    $(document).ready(function () {
        // Sayfa yüklendiğinde bir kere çalıştırılacak kısım
        // ...

        // $("#filterButton").click(function () {

        // 	ApiIstek();
        // });
    });


    function getProducts(productid) {
        var params = {};



        if (productid !== '') {
            params.productid = productid;
        }

        $.ajax({
            url: 'http://localhost:53239/api/Default/FilterProducts',
            method: 'GET',
            data: params,
            success: function (data) {
                // $(".products").html(""); // Ürün listesini temizle
                $('.js-modal1').addClass('show-modal1');
                console.log(data);

                // Her bir ürünü döngü ile gez

                var productBlock =

                    '<h4 class="mtext-105 cl2 js-name-detail p-b-14">' + data.productName + '</h4>' +
                    '<span class="mtext-106 cl2">' + data.price.toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' }) + '</span>' +

                    '<p class="stext-102 cl3 p-t-23">' + data.description + '</p>'
                // Ürün bloğunu listeye ekle
                $(".products").html(productBlock);
                console.log(productBlock);

                //alert('AJAX isteği başarıyla tamamlandı!');
            },
            error: function (error) {
                console.error('Hata:', error);
            }
        });
    }




</script>


