@using ECommerceMVC.Models.ProductModel
@model UpdateProductViewModel

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Kategori Güncelleme</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post">
            <div class="card-body">
                <div class="form-group">

                    <input type="hidden" asp-for="UpdateProductDto.ProductName" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input type="text" asp-for="UpdateProductDto.ProductName" class="form-control">
                    <span asp-validation-for="UpdateProductDto.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    <select class="js-select2" asp-for="UpdateProductDto.Categories.CategoryId" class="form-control">
                        <option value="">-- Kategori Seçin --</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="UpdateProductDto.Categories.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" asp-for="UpdateProductDto.Price" class="form-control">
                    <span asp-validation-for="UpdateProductDto.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" asp-for="UpdateProductDto.Description" class="form-control">
                    <span asp-validation-for="UpdateProductDto.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Stok Adedi</label>
                    <input type="text" asp-for="UpdateProductDto.StockQuantity" class="form-control">
                    <span asp-validation-for="UpdateProductDto.StockQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Cinsiyet</label>
                    <input type="text" asp-for="UpdateProductDto.Genders" class="form-control">
                    <span asp-validation-for="UpdateProductDto.Genders" class="text-danger"></span>
                </div>
               
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

