
@model Tuple<List<ProductFilterDto>, List<ResultCategoryDto>>
<section class="bg0 p-t-23 p-b-130">
	<div class="container">

		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Alışveriş Yap
			</h3>
		</div>
		
			
		
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-id="" onclick="ApiIstek(this.dataset.id)">
					Tüm Ürünler
				</button>
				
				<button class="overview-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-id="1" onclick="ApiIstek(this.dataset.id)" >
					Kadın
				</button>
			
				<button class="overview-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-id="0" onclick="ApiIstek(this.dataset.id)" >
					Erkek
				</button>
					
				@foreach (var item in Model.Item2.Take(3))
				{
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-categoryid="@item.CategoryId" onclick="ApiIstek('', this.dataset.categoryid)">
						@item.CategoryName
					</button>


				}
			
				
			</div>

			@await Component.InvokeAsync("_ParamaterDefinitionPartial")
		</div>


	

		<div id="productList" class="row ">
			
			@foreach (var item in Model.Item1)
			{
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item gender">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0 label-new" data-label="New">
							<img src="~/Template/images/product-01.jpg" alt="IMG-PRODUCT">


							<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" data-productid="@item.ProductId" onclick="getProducts(this.dataset.productid)">
								Hızlı Bakış
							</button>

											
						</div>
						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<p  id="description2" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@item.Description
									
								</p>
								<span class="stext-105 cl3" id="price">
									₺@item.Price
								</span>
							</div>
							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="~/Template/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Template/images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>


		<!-- Pagination -->
		<div class="flex-c-m flex-w w-full p-t-38">
			<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
				1
			</a>

			<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
				2
			</a>
		</div>
	</div>
</section>